$BGColor: #edf1f5;
$PrimaryTextColor: #293845;

body {
  background: $BGColor;
  color: $PrimaryTextColor;
  font-family: "Source Sans Pro", sans-serif;
}

.heading {
  text-align: center;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
