$BGColor: #edf1f5;
$primaryTextColor: #293845;
$secondaryTextColor: #3c505f;

body {
  background: $BGColor;
  color: $primaryTextColor;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.icon {
  margin-right: 10px;
}

$navbarHeight: 60px;

.navbar {
  width: 100%;
  margin-bottom: 40px;
  height: $navbarHeight;
  background: white;
  color: $secondaryTextColor;
  border-bottom: solid 1px lighten($primaryTextColor, 60%);

  h1 {
    padding-top: 15px;
    margin: 0;
    font: {
      size: 1.5em;
      weight: 600;
    }
    text-align: center;
  }
}

.heading {
  text-align: left;
  font-weight: 600;
}
