.formCard {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 40px;
}

.form {
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 30px;
}

$elementHeight: 50px;

.formInput {
  margin: 0;
  label {
    margin-bottom: 10px;
    font-weight: 600;
    span {
      font-weight: 400;
    }
  }
  span {
    width: 100%;
  }
  input {
    height: $elementHeight;
  }
}

.wideInput {
  grid-column: span 2;
}
